<h1><%= @pessoa.nome %></h1>

<p><%= @pessoa.email %></p>

<p><%= link_to "voltar a pagina inicial", pessoas_path %> </p>
<p><%= link_to "editar dados",            edit_pessoa_path(@pessoa) %> </p>
<p><%= link_to "deletar pessoa",          pessoa_path(@pessoa), :method => :delete, :confirm => "apagar esse usuario, tem certeza?" %> </p>
<h3>Livros</h3>
<%= render :partial => 'livro', :collection => @pessoa.livros%>
<%= button_to "novo livro", new_livro_path, :method => "get" %>
